
<div>
    <button class='toggleEntry' style='float:right;border-radius: 2em 2em 2em 2em;border:2px;border-color:black'>-</button>
    
    <div id='sdate-xxx' class=fullentry>
        <div class=entry0>
                      
            <center><font class=score>PAPER</font></center>
            <br>
            
            <div class=title0>
                <a href='{{url}}' target=_blank class="link0">{{title}}</a>
                {{scorebar}}
            </div>
            
            <div class=comment0>Comments: {{comments}}</div>
            <br>
            <div class=authors>
                <font class="firstauthor">{{firstauthor}}</font>
                {{otherauthors_short}}
                &nbsp;<div class=togentry style='display:none;'>({{otherauthors}})</div>
            </div>
            
            <div class=entry0>
                <div class=summary>{{summary}}</div>
                
                <hr class='hrgray0'>
                <div class=allkw>{{allkw}}</div>
                <hr class='hrgray0'>
                
                <div class=categories>Link: <a href='{{url}}' target=_blank>{{url}}</a>.
                    ArXiv ID: {{id}}. 
                    Categories: [{{categories}}]. 
                    Published date: {{published}} [EST] -- Update date: {{updated}}.
                    Score (total = entry+1st author+other authors): {{totalscore}} ({{score}} + {{firstauthor_score}} + {{otherauthors_score}})
                </div>
            </div>
            
            <br>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>

    
