<html>
    <head>
        <!-- -<title>bmarxiv [{{name}}]</title> -->
        <title>bmarxiv [others]</title>
        <link rel=stylesheet type="text/css" media="screen" href="../static/css/formatbmarxiv.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script>jQuery(function(){
             jQuery('.toggleEntry').click(function(){
                 $(this).parent( 'div' ).find('.fullentry').toggle();if ($.trim($(this).text()) === '+') {
			         $(this).text('-');
                 } else {
                     $(this).text('+');
                 }
             });
         });
         jQuery(function(){
             jQuery('.toggleSingle').click(function(){
                 $(this).parent( 'div' ).find('.togentry').toggle();if ($.trim($(this).text()) === 'Show') {
			         $(this).text('Hide');
                 } else {
                     $(this).text('et al.');
                 }
             });
         });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
        <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
             jax : [ "input/TeX", "output/HTML-CSS" ],
             extensions : [ "tex2jax.js" ],
             tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],processEscapes: true}
         });
         MathJax.Hub.Config({TeX: {noUndefined: {attributes: {mathcolor: "black"}}}
         });
         //MathJax.Hub.Config({skipStartupTypeset: true}); //if skip is on, them change var isTypeset = false below;
        </script>
        <script type="text/javascript" src="../static/js/scripts.js"></script>  
        <script type="text/x-mathjax-config" src="mathjax_scripts.js"></script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
        <style type="text/css"></style>
    </head>
    
    <body bgcolor=#EEEEEE>
                
        <div id=menudeux>
             <button id=togglemenu class='boutonmenu'>Hide sections</button>
             </div>
        
             <div id=menu>
                 <a href="#confs">Conferences</a> <font color=grey>|</font> <a href="#codes">Codes</a> <font color=grey>|</font>
       <!-- <font color=grey>|</font> <a id="toggle" type="link" value="Enable Mathjax" onclick="ToggleMJ(this)" />Toggle Mathjax</a> -->
       </div>
        
        <table width=100% cellpadding=5 cellspacing=0 border=0 class='block'>
            <tr>
                <td class="cells">
	                <table width=100% cellpadding=5 cellspacing=0 border=0>
	                    <tr>
	                        <td class="cells">
	                            <font size=+2><b><font style='font-variant:small-caps;'>BMarXiv</font></font></b></font>
	                        </td>
	                    </tr>
	                </table>
                    
	                <hr width=100% class="style-six">
                    
	                <table align=center width=100% cellpadding=5 cellspacing=0 class='block'>
	                    <tr>
	                        <td colspan=3 class="cells">
		                        <b>Tips & examples</b>
		                        <br><font size=-1>- Submissions <b>not</b> matching your keywords can be accessed with a button below the results. / Keywords are looked for in the summary but also in the title and in the authors names. / Links open by default in a new tab. / If you use several custom links, give them a name using the optional parameter for the bookmarks to be explicit.</font>
	                        </td>
	                        <td align=right valign=bottom class="cells">
	                            <img width=80 src="../static/images/PAph_dog.gif" alt="from www.mrbilly.com">
	                        </td>
	                    </tr>
	                </table>
                    
	                <hr width=100% class="style-six">
                    
                </td>
            </tr>
        </table>
        
        <table width=95% align=center cellpadding=15>

            
            <tr>
                <td align=left bgcolor=white>

                    <div style="display:{{conferences_display}}">
                    <a name='confs'></a><div style='width:85%;padding-right:15%'><hr class=style-four><h2>New conferences</h2><br><br><br>
                    {{conferences}}</div>
                    <br>
                    <br><br>
                    </div>
                    
                    <div style="display:{{codes_display}}">
                    <a name='codes'></a><div style='width:85%;padding-right:15%'><hr class=style-four><h2>New codes</h2><br><br><br>
                    {{codes}}</div>
                    <br>
                    <br><br>
                    </div>
                    
                </td>
            </tr>
        </table>
                        
    </body>
    
</html>
